{% extends "base.html" %}

{% block title %}New Task{% endblock %}

{% block header_css %}
<link href="../static/css/base.css" rel="stylesheet"></link>
{% endblock %}

{% block content %}
<div class="span9">
    <h3>New Task</h3>
    <div class="row-flud">
        <div class="mini-layout mini-margin-bottom">
            <form class="form-horizontal" id="normal-url">
                <legend>Normar URL</legend>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">
                        <strong>URL</strong>
                    </label>
                    <div class="controls">
                        <textarea name="addr" rows="3" class="input-xxlarge" placeholder="Input a normal url..."></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">提交</button>
                        <span id="normal-url-alert" class="alert alert-success" style="margin-left:10px" hidden=true><strong>提交成功</strong></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="row-flud mini-layout mini-margin-bottom">
            <form class="form-horizontal" id="tor-url">
                <legend>Torrent URL</legend>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">
                        <strong>URL</strong>
                    </label>
                    <div class="controls">
                        <textarea name="addr" rows="3" class="input-xxlarge" placeholder="Input the .torrent file address..."></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">提交</button>
                        <span id="tor-url-alert" class="alert alert-success" style="margin-left:10px" hidden=true><strong>提交成功</strong></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="row-flud mini-layout mini-margin-bottom">
            <form class="form-horizontal" id="tor-file">
                <legend>Torrent File</legend>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">
                        <strong>FILE</strong>
                    </label>
                    <div class="controls">
                        <input name="torfile" type="file" class="input-xxlarge" placeholder=".input-xxlarge"></input>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">提交</button>
                        <span id="tor-file-alert" class="alert alert-success" style="margin-left:10px" hidden=true><strong>提交成功</strong></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom_script %}
<script type="text/javascript">
    $("#normal-url").submit(function(){
        $.post("new_task", $("#normal-url").serialize())
        .done(function(data){
            $("#normal-url-alert").fadeIn(200).delay(1000).fadeOut(300)
        });
        return false;
    });
    $("#tor-url").submit(function(){
        $.post("new_task", $("#tor-url").serialize())
        .done(function(data){
            $("#tor-url-alert").fadeIn(200).delay(1000).fadeOut(300)
        });
        return false;
    });
    $("#tor-file").submit(function(){
        $.post("new_task", $("#tor-file").serialize())
        .done(function(data){
            $("#tor-file-alert").fadeIn(200).delay(1000).fadeOut(300)
        });
        return false;
    });
</script>
{% endblock %}
